/* Logo animation */
@keyframes bounceLogo {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  #logo {
    animation: bounceLogo 2s ease-in-out infinite;
  }

  .custom-navbar {
    background-color: #48a3ae;  /* Your custom color */
  }